.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    /* filter: blur(20px); */
    /* filter: brightness(150%); */
    /* filter: contrast(250%); */
    /* filter: grayscale(75%); */
    /* filter: hue-rotate(90deg); */
    /* filter: invert(100%); */
    /* filter: opacity(50%); */
    /* filter: saturate(500%); */
    filter: sepia(75%);
}